<section>

    <app-basket-card *ngFor="let item of products" [image]="item.image" [name]="item.name" [stock]="item.stock"
        [price]="item.price" [id]="item.id" [quantity]=" item.quantity"> </app-basket-card>

</section>



<!-- <p>testknap</p> -->
<!-- <button (click)="bs.addToBasket(1234)">Add</button> -->



<!-- <button (click)="bs.removeFromBasket()">Remove entire line</button> -->
<div class="wrapper">
    <div class="subtotal">
        <p>BELØB</p>
        <p>{{totalDue()}}</p>
        <button>RYD</button>

    </div>

    <button id="tobasket">TIL KASSEN</button>

</div>