<section [hidden]="isCookieSet" #html_banner>

    <article>
        <br>
        <h2>COOKIEBANNER HER!</h2>
        <br>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore ratione accusantium, quaerat possimus enim
            nulla asperiores aliquam dolor nam in assumenda autem libero voluptatibus, laboriosam vero dolorem
            perspiciatis!
            Ipsa quaerat minima magni cupiditate dolores enim? Corrupti, molestias sequi. Dolorem mollitia voluptate
            omnis
            porro aliquam minus, ut obcaecati dicta facere enim modi ipsa pariatur nulla quas laudantium architecto.
            Quia
            sit quo aperiam quas a, quasi dolores molestias enim nihil ipsum perferendis delectus ex praesentium esse ad
            eaque doloribus ab, necessitatibus at.
        </p>
        <br>
    </article>
    <button (click)='setCookie()'>Jeg accepterer</button>


</section>