section{

    height: 2em;
    margin: 10px;

border-top: solid #393939 2px;
border-bottom: solid #393939 2px;

a{
    text-decoration: none;
    color: #00FAB4;
    span{
        margin-right: 0.5em;
    }
}


}