<nav #mainNav (click)="toggleClass()" class="menu menu_cornered">

    <div class="thumb_me">
        <span></span>
        <span></span>
        <span></span>
    </div>



    <!-- <div>
        <span class="material-icons">email</span>
        <p>SALES@STRINGSONLINE.COM</p>
        <p>+45 98 12 22 68</p>
    </div> -->




    <div class="gridcontainer">

        <ul class="mainnav">
            <li><a routerLink="/">Forside</a></li>

            <li><a routerLink="/betingelser">Salgs & handelsbetingelser</a></li>

            <li><a routerLink="/login">Login</a></li>
        </ul>


        <div class="searchcontainer">


            <section class="searchbar-container">

                <div class="contactinfo">

                    <span class="material-icons">email</span>
                    <p>SALES@STRINGSONLINE.COM </p>

                    <span class="material-icons">call</span>
                    <p>+45 98 12 22 68</p>


                    <a routerLink="/kurv"><span class="material-icons basket">
                            shopping_basket <div class="bubble"></div>
                        </span></a>
                </div>

                <app-searchbar></app-searchbar>

            </section>


        </div>



    </div>


</nav>