<article style="color: white">

    <figure><img src="{{image}}" alt=""></figure>


    <h2>{{name}}</h2>


    <div class="handling-container">


        <p>antal:</p>


        <div class="addminusquantity">
            <button class="minus" (click)="bs.minusQuantity(id)">

                <span class="material-icons">
                    remove
                </span></button>

            <div class="quantity">
                <p class="quant" #total>{{quantity}}</p>
            </div>

            <button class="plus" (click)="bs.addToBasket(id)"><span class="material-icons">
                    add
                </span></button>
        </div>

        <div class="pricetag">{{price*quantity}}</div>

        <button class="remove" (click)="bs.removeFromBasket(id)"> <span class="material-icons">
                close
            </span></button>



    </div>


</article>