<section>
    <h1>Login</h1>
    <h3>Indtast brugernavn og adgangskode for at logge på</h3>
    <!-- Brugernavn -->

    <form [formGroup]="login" (ngSubmit)="submit()">

        <div class="form-group">

            <label for="username">Brugernavn:</label>
            <input ngModel formControlName="username" id="username" type="text" class="form-control">

        </div>

        <!-- Password -->

        <div class="form-group">

            <label for="password">Adgangskode:</label>
            <input type="text" ngModel formControlName="password" id="password" type="password" class="form-control">

        </div>

        <button>Login</button>




    </form>



</section>