<section>
    <h1>Login</h1>
    <h3>Indtast brugernavn og adgangskode for at logge på</h3>
    <!-- Brugernavn -->

    <form [formGroup]="login" (ngSubmit)="submit()">

        <div class="form-group">

            <label for="username">Brugernavn:</label>
            <input formControlName="username" id="username" type="text" class="form-control">
            <p class="danger" *ngIf="!form.username.valid && form.username.touched"><span class="material-icons">
                    undo
                </span> Skal udfyldes</p>
            <div>

            </div>
        </div>

        <!-- Password -->

        <div class="form-group">

            <label for="password">Adgangskode:</label>
            <input type="text" ngModel formControlName="password" id="password" type="password" class="form-control">
            <p class="danger" *ngIf="!form.password.valid && form.password.touched"><span class="material-icons">
                    undo
                </span> Skal udfyldes</p>
        </div>

        <button [disabled]="!login.valid">Login</button>


    </form>



</section>