.desktop{
    height: 70px;
    width: 100%;
    background-color: #393939;
    
    bottom: 0;
    padding: 1em;
    text-align: center;

}

@media (max-width: 721px){
    .desktop{
    display: none;
    }
}