<section *ngIf="details">

    <figure class="brandimage">
        <img src="{{details.image.fullpath}}" alt="">
    </figure>

    <article>
        <h1>{{details.name}}</h1>
        <p>{{details.description_long}}</p>
    </article>

    <div class="wrapper">

        <figure class="brandimage">
            <img src="{{details.brand_image}}" alt="">
        </figure>

        <div class="price">


            <p class="crurrentprice">Pris: DKK {{details.price}}</p>


            <button (click)="basketservice.addToBasket(details.id)">Læg i kurv</button>

            <p>lagerantal</p>

            <div>
                <p>*****</p>
            </div>



        </div>



    </div>


</section>